/*//////////////////////////////////////////////////
  body
//////////////////////////////////////////////////*/

body,
html {
  width: 100%;
  height: 100%;
  color: rgba(0,0,0,0.8);
  font-family: 'Roboto', sans-serif;
}

.index-bg body {
  background: url(unimpressed.jpg);
  background-position: center;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.about-bg body {
  background: url(grind.jpg);
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;;
  background-size: cover;
}

.meme-bg body {
  background: url(memeow.jpg);
  background-position: 50% 95%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contact-bg body {
  background: url(growth.jpg);
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*//////////////////////////////////////////////////
  nav
//////////////////////////////////////////////////*/

.bg-light {
  background-color: rgba(210,175,125,0.3)!important;
}

.navbar-brand,
.nav-i-brand {
  font-weight: 700;
  font-size: 1.875rem;
}

.navbar-brand {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.nav-i-brand {
  margin-left: 15px;
  color: aliceblue;
}

.navbar-light .navbar-brand {
  transition: background .2s,
              box-shadow .2s,
              color .2s;
}

.navbar-light .navbar-nav .nav-link,
#disabled3,
#github,
#email,
#resume {
  padding-left: 10px;
  background: aliceblue;
  color: rgba(0,0,0,0.8);
  font-size: 0.9375rem;
  transition: background .2s,
              box-shadow .2s,
              color .2s;
}

#dropdown {
  background-color: aliceblue!important;
  padding: 5px;
  border: none;
  border-radius: 0;
}

.nav-i {
  padding-right: 2px;
}

#disabled3 {
  color: rgba(0,0,0,0.3);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
  background: #f86161;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
  color: aliceblue;
}

#disabled2:hover,
#disabled3:hover {
  background: aliceblue;
  box-shadow: none;
  color: rgba(0,0,0,0.3);
  cursor: not-allowed;
}

#github:hover,
#email:hover,
#resume:hover {
  background: #f86161;
  color: aliceblue;
  font-size: 0.9375rem;
}

/*//////////////////////////////////////////////////
  landing
//////////////////////////////////////////////////*/

#landing h1 {
  margin-top: 7.5rem;
  margin-bottom: 20px;
  color: rgba(0,0,0,0.8);
  font-weight: 700;
  font-size: 3rem;
}

#landing h5 {
  max-width: 21.5rem;
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(240,248,255,0.8);
  border-bottom: 1px solid rgba(247,86,87,0.2);
  border-right: 1px solid rgba(247,86,87,0.1);
  border-radius: 10px;
  text-align: center;
  font-size: 1.375rem;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
  height: 1px;
  border: 0;
  background: lightgray;
  background-image: linear-gradient(to right, rgba(210,175,125,0.3), #f86161, rgba(210,175,125,0.3));
}

#landing #rithm,
#about a,
#contact a,
#meme #generate {
  padding: 1px 4px;
  border-radius: 5px;
  color: #f86161;
  transition: background .2s,
              box-shadow .2s,
              color .2s,
              text-shadow .2s;
}

#landing #rithm:hover,
#about a:hover,
#contact a:hover {
  background: #f86161;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
  color: aliceblue;
  text-shadow: none;
  text-decoration: none;
}

#landing .btn-default {
  margin-top: 20px;
  padding: 8px;
  background: aliceblue;
  border: 1px solid rgba(210,175,125,0.3);
  box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
  color: rgba(0,0,0,0.8);
  font-size: 1.25rem;
  transition: background .2s,
              color .2s;
}

#landing .btn-default:hover {
  padding: 8px 7px;
  background: #f86161;
  color: aliceblue;
}

#kitty,
#landing .btn-default:hover #karl {
  display: none;
}

#landing .btn-default:hover #kitty {
  display: inline;
}

/*//////////////////////////////////////////////////
  about & contact
//////////////////////////////////////////////////*/

#about h1,
#contact h1,
#meme h1 {
  margin-top: 7.5rem;
  color: rgba(247,86,87,0.8);
  font-weight: 700;
  font-size: 3rem;
}

#about hr,
#contact hr,
#meme hr {
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
}

#about img,
#contact img,
#meme .col-md-4 img {
  margin-top: 1rem;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid rgba(210,175,125,0.3);
  border-radius: 10px;
}

#about p,
#about li,
#contact p {
  color: rgba(0,0,0,0.8);
}

#about a,
#contact a {
  display: inline-block;
}

#about article,
#contact article,
#meme-form {
  padding: 30px 30px 10px 30px;
  margin-bottom: 20px;
  background: rgba(240,248,255,0.8);
  border-bottom: 1px solid rgba(247,86,87,0.2);
  border-right: 1px solid rgba(247,86,87,0.1);
  border-radius: 10px;
}

/*//////////////////////////////////////////////////
  meme
//////////////////////////////////////////////////*/

#meme-form {
  padding-bottom: 1rem;
}

#meme-form label {
  color: rgba(0,0,0,0.8);
}

#meme-form input::placeholder,
#meme-form p,
#meme-form li {
  color: rgba(0,0,0,0.3);
}

#meme #generate {
  padding: 8px;
  background: aliceblue;
  border: 1px solid rgba(210,175,125,0.3);
  box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
  color: rgba(0,0,0,0.8);
  font-size: 1rem;
  transition: background .2s,
              color .2s;
}

#meme #generate:hover {
  background: #f86161;
  color: aliceblue;
  text-shadow: none;
  text-decoration: none;
}

#meme-form hr {
  margin-top: 1.5rem;
}

#thumnails {
  text-align: center;
}

#meme-form .col-lg-12 img {
  max-height: 90px;
  margin: 1px;
  border: 1px solid rgba(210,175,125,0.3);
  border-radius: 5px;
  opacity: 0.5;
  cursor: pointer;
}

#meme-form .col-lg-12 img:hover {
  opacity: 1;
}

#meme-container {
  margin: 20px 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

/*meme.js classes*/

.meme-div {
  display: inline-block;
  position: relative;
  margin: 5px;
  width: 48%;
  min-width: 340px;
  background: white;
  border: 1px solid rgba(210,175,125,0.3);
  border-radius: 5px;
}

.meme-img {
  width: 100%;
  border-radius: 5px;
  color: #f86161;
  font-size: 16px;
}

.meme-img:before {
  content: '\A\A\A\A\A\A Your link is bad\A';
  white-space: pre;
}

.meme-img:after {
  content: '\A And you should feel bad\A\A\A\A\A\A\A';
  white-space: pre;
  word-wrap: break-word;
}

.row1,
.row2 {
  position: absolute;
  width: 100%;
  padding: 3px 1px;
  word-wrap: break-word;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black,
               1px -1px 1px black,
              -1px 1px 1px black,
              -1px -1px 1px black;
}

.row1 {
  top: 0;
}

.row2 {
  bottom: 0;
}

.delete-btn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: rgba(247,86,87,0.3);
  border-radius: 5px;
  border: none;
  color: rgba(0,0,0,0.8);
  font-size: 100px;
  cursor: pointer;
}

.meme-div:hover > .delete-btn {
  display: block;
}

.meme-div:hover > img,
.meme-div:hover > div {
  opacity: 0.1;
}

.meme-div:hover > button {
  width: 100%;
  height: 100%;
}